*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# intelliJ ignore
.idea
.idea_modules
build-log.xml
*.iml

0_local.sbt
